.gradle/
build/
out/
run/
run-data/
versions/*/*/.gradle/
versions/*/*/build/
versions/*/*/out/
versions/*/*/run/
versions/*/*/run-data/
.idea/
*.iml
*.ipr
*.iws
.classpath
.metadata
.project
.settings/
bin/
eclipse/
*.launch
forge*changelog.txt
.rmodcreator/
.rmodcreator.log
